body{
    margin :8px;
    padding:0;
    background-color:blueviolet;
    background-image:url(https://www.bornfree.org.uk/wp-content/uploads/2023/09/Cheetah-wildlife-hero.jpg);
    background-repeat:no-repeat;
    background-position: top left;
}
html,*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    font-weight: bold;
    font-style: italic;
    color:cyan;
    text-align:right;
    text-decoration: solid;
    text-transform: capitalize;
    text-shadow:1px 0px 1px #937;
}
#para{
    color: #937;
    display: inline;
}
ul{
    list-style: none;
}
ul li{
    float:left;margin:30px;

}